@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Batman';
  src: url('/fonts/batman.TTF') format('truetype');
}
@font-face {
  font-family: 'Sarang';
  src: url('/fonts/sarang.ttf') format('truetype');
}
@font-face {
  font-family: 'Godic_thin';
  src: url('/fonts/godic_thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Godic_regular';
  src: url('/fonts/godic_regular.TTF') format('truetype');
}
@font-face {
  font-family: 'Godic_bold';
  src: url('/fonts/godic_bold.ttf') format('truetype');
}

body {
  font-family: 'Godic_regular', sans-serif;
}
h1 {
  font-family: 'Batman', sans-serif;
}

p {
  color: #1f2937;
}

.font-godic-thin {
  font-family: 'Godic_thin', sans-serif;
}
.font-godic-regular {
  font-family: 'Godic_regular', sans-serif;
}
.font-godic-bold {
  font-family: 'Godic_bold', sans-serif;
}
.font-sarang {
  font-family: 'Sarang', sans-serif;
}
.animation-cursor {
  animation: cursor-blink 1s infinite; /* Add blinking animation */
}

.slider {
  animation: flowAnimation 10s linear infinite; /* Adjust the animation duration as needed */
}

.brightness-dark {
  filter: brightness(30%);
}

.text-color-primary {
  color: #364f84;
}

.aspect-thumb {
  aspect-ratio: 4/3;
}

@keyframes cursor-blink {
  0%,
  100% {
    opacity: 1; /* Set opacity to 1 for the starting and ending keyframes */
  }
  50% {
    opacity: 0; /* Set opacity to 0 for the middle keyframe */
  }
}

@media (min-width: 1024px) {
  .main {
    width: 1036px;
    max-width: 50%;
  }
}
