@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Batman';
  src: url('/fonts/batman.TTF') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Sarang';
  src: url('/fonts/sarang.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Godic_thin';
  src: url('/fonts/godic_thin.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Godic_regular';
  src: url('/fonts/godic_regular.TTF') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Godic_bold';
  src: url('/fonts/godic_bold.ttf') format('truetype');
  font-display: swap;
}

body {
  font-family: 'Godic_regular', sans-serif;
}
h1 {
  font-family: 'Batman', sans-serif;
}

p {
  color: #1f2937;
}

.contact-text {
  font-size: 0.5rem;
}

.font-godic-thin {
  font-family: 'Godic_thin', sans-serif;
}
.font-godic-regular {
  font-family: 'Godic_regular', sans-serif;
}
.font-godic-bold {
  font-family: 'Godic_bold', sans-serif;
}
.font-sarang {
  font-family: 'Sarang', sans-serif;
}
.text-color-primary {
  color: #364f84;
}

.aspect-thumb {
  aspect-ratio: 4/3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease-in;
}

@media (min-width: 768px) {
  .footer-gradient {
    background-image: linear-gradient(to bottom, transparent 50%, white 80%);
  }
}
